:host {
  display: block;
}
#table::shadow table{
  color: #333;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;
  border: 1px solid #a0cfef;
}
#table::shadow .pagination table, 
#table::shadow .pagination tr, 
#table::shadow .pagination td{
  border: 0;
}
#table::shadow th.sortable, 
#table::shadow .rows td {
  white-space: nowrap;
  padding: 8px 5px;
  border: 1px solid #a0cfef;
}
#table::shadow tbody tr.rows:hover, 
#table::shadow .rows.selected {
  background-color: #f3f3f3;
  color: #1B8CCD;
}
#table::shadow tbody tr.rows.editing {
  background-color: #fbec88;
  border: 1px solid #fad42e;
}
#table::shadow th.searchable input, 
#table::shadow th.searchable select {
  width: 90%;
}
#table::shadow th {
  border: 1px solid #a0cfef;
  background: #c3e2f6;
  color: #2e6e9e;
  font-weight: bold;
}
#table::shadow sup {
  color:yellow;
}
#table::shadow .search-head input {
  width: 40px;
  min-width: 90%;
}
#table::shadow .paging {
  display: block;
  float: left;
}
#table::shadow .pagesize {
  display: block;
  float: left;
}
#table::shadow .summary {
  display: block;
  float: right;
}
#table::shadow tfoot td {
  background-color: #eee;
}
#table::shadow .hint,
#table::shadow .search,
#table::shadow .nosearch,
#table::shadow .copy-er i,
#table::shadow .remove-er i
 {
  border: 0;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 15px;
  min-height: 20px;
}
#table::shadow .hint:before {
  content:"\f05a";
}
#table::shadow .search:before {
  content:"\f00e";
}
#table::shadow .nosearch:before {
  content:"\f010";
}
#table::shadow .copy-er i:before {
  content:"\f0c5";
}
#table::shadow .remove-er i:before {
  content:"\f014";
}